<div class="text-center">
	<h2>步骤计时详表</h2>
</div>
<div class="container">
<%= link_to "返回", case_path(@case), class: "btn btn-danger pull-right" %>
<br><br>
<% @task_templates_groups.each_with_index do |group, index| %>
	<div class="panel panel-default">
		<div class="panel-heading">模版<%= index %></div>
		<table class="table">
			<thaed>
				<tr>
					<% group.templates.each do |template| %>
						<th><%= template.title %></th>
					<% end %>
				</tr>
			</thaed>
			<tbody>
				<% group.round_group_tasks.each do |tasks| %>
					<tr>
						<% tasks.each do |task| %>
							<td><%= task.practice_time_str %></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>
<% end %>
</div>