<h3>Timer</h3>
<p id="demo"></p>
<div id="myStartTime"></div>
<div id="myStopTime"></div>
<button onclick="myStartFunction()">开始</button>
<button onclick="myStopFunction()" >结束</button>
<%= link_to "停止", update_timer_case_path(@case), id:"my_stop_btn" %>


<script>

var countUpDate
var x
var distance

function myTimer() {
	var now = new Date().getTime();
	var k = Math.floor(Date.now() / 1000);
	console.log(k);
	distance = now - countUpDate;

	var days = Math.floor(distance / (1000 * 60 * 60 * 24));
	var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
	var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
	var seconds = Math.floor((distance % (1000 * 60)) / 1000);

	document.getElementById("demo").innerHTML = hours + "小时 "
  + minutes + "分 " + seconds + "秒 ";
}

$("#my_stop_btn").on('click', function(evt){
	evt.preventDefault();
	clearInterval(x);
	var url = $(this).attr("href")
	console.log(url)

	$.ajax({
		url: url,
		method: "POST",
		beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
		dataType: "json",
		data: {
			practice_time: distance
		},
		success: function(data){
			var practice_time = data["practice_time"];
			$("#demo").innerHTML = 0 + "小时 " + 0 + "分 " + 0 + "秒 ";
		}
	})

	distance = 0;
})


function myStopFunction() {
	clearInterval(x);
	distance = 0;
	document.getElementById("demo").innerHTML = 0 + "小时 "
  + 0 + "分 " + 0 + "秒 ";
}

function myStartFunction() {

	countUpDate = new Date();
	x = setInterval(function(){myTimer()}, 1000);
}


</script>


<!-- <p>A script on this page starts this clock:</p>
<p id="demo"></p>

<button onclick="myStopFunction()">Stop time</button>
<button onclick="myStartFunction()">Start time</button>

<script>
var myVar = setInterval(function(){ myTimer() }, 1000);

var c = 0;

function myTimer() {
    var d = new Date();
    var t = d.toLocaleTimeString();
    document.getElementById("demo").innerHTML = t;
}

function myStopFunction() {
    clearInterval(myVar);
}

function myStartFunction() {
	myVar = setInterval(function(){ myTimer() }, 1000);
}
</script> -->